{
  "plugins": [
    "prettier-plugin-java"
  ],
  "overrides": [{
      "files": "**/*.java",
      "options": {
            "plugins": [
                "prettier-plugin-java"
            ]
      }
  }]
}